<footer>
    AQUI ESTA EL PIE DE PAGINA
    <ul class="social-links">
        <li><a [href]="_information.info.facebook" target="_blank" title="Facebook"><img src="../../../assets/img/baseline-facebook.svg" alt="face"></a></li>
        <li><a [href]="_information.info.whatsapp" target="_blank" title="Whatsapp"><img src="../../../assets/img/baseline-whatsapp.svg" alt="whatsapp"></a></li>
        <li><a [href]="_information.info.email" target="_blank" title="Instagram"><img src="../../../assets/img/outline-email.svg" alt="correo"></a></li>
        <li><a [href]="_information.info.whatsapp" target="_blank" title="LinkedIn"><img src="../../../assets/img/phone-enabled.svg" alt="telefono"></a></li>
    </ul>
    <p>Potosí {{anio}}</p>
</footer>